In [1]:
import pandas as pd
import numpy as np

In [3]:
TrafficCounts = pd.read_json("https://data.cityofchicago.org/resource/pfsx-4n4m.json")

In [13]:
tc_head = TrafficCounts.head(5)
tc_description = TrafficCounts.describe()
tc_shape = TrafficCounts.shape
tc_head

,id,traffic_volume_count_location_address,street,date_of_count,total_passing_vehicle_volume,vehicle_volume_by_each_direction_of_traffic,latitude,longitude,location,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_awaf_s7ux
0,414,5838 West,Lake St,2006-11-14T08:00:00.000Z,7100,East Bound: 3600 / West Bound: 3500,41.887904,-87.771064,"{'latitude': '41.887904', 'longitude': '-87.77...",32.0,26.0,22216,672.0,7.0,52.0
1,176,320 East,76th St,2006-03-28T08:00:00.000Z,8600,East Bound: 3800 / West Bound: 4800,41.756542,-87.617335,"{'latitude': '41.756542', 'longitude': '-87.61...",61.0,67.0,21546,475.0,32.0,31.0
2,715,835 North,Clark St,2006-09-20T07:00:00.000Z,16500,South Bound: 16500/ Oneway South Bound,41.897747,-87.631275,"{'latitude': '41.897747', 'longitude': '-87.63...",54.0,37.0,14926,310.0,11.0,22.0
3,316,125 East,24th St,2006-03-30T08:00:00.000Z,700,East Bound: 400 / West Bound: 300,41.849302,-87.622658,"{'latitude': '41.849302', 'longitude': '-87.62...",40.0,34.0,21194,193.0,9.0,48.0
4,1294,2924 East,130th St,2006-08-29T07:00:00.000Z,4200,East Bound: 2300 / West Bound: 1900,41.659177,-87.552112,"{'latitude': '41.659177', 'longitude': '-87.55...",26.0,52.0,22250,586.0,47.0,47.0

In [14]:
tc_description

,id,total_passing_vehicle_volume,latitude,longitude,:@computed_region_rpca_8um6,:@computed_region_vrxf_vc4k,:@computed_region_6mkv_f3dw,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_awaf_s7ux
count,1000.000000,1000.000000,1000.000000,1000.000000,988.000000,988.000000,1000.000000,987.000000,988.000000,988.000000
mean,699.923000,19284.200000,41.848757,-87.669140,32.763158,37.939271,18445.100000,369.108409,26.779352,28.535425
std,398.137213,12576.120593,0.083566,0.060015,17.532387,19.342442,5737.297131,237.816601,14.625272,14.927035
min,1.000000,700.000000,41.651861,-87.846567,1.000000,1.000000,4299.000000,1.000000,1.000000,1.000000
25%,359.500000,11100.000000,41.779920,-87.705867,19.000000,25.000000,14920.000000,130.000000,13.000000,16.000000
50%,695.500000,17100.000000,41.870047,-87.660550,35.000000,37.000000,21538.000000,368.000000,28.000000,28.000000
75%,1047.250000,24025.000000,41.907736,-87.628316,45.250000,55.000000,22212.000000,578.500000,38.000000,41.250000
max,1382.000000,165200.000000,42.017888,-87.531879,61.000000,77.000000,26633.000000,800.000000,50.000000,53.000000